body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    font-size: 2rem;

    /* background-image: url("");
    background-size: cover; */
    background-color: rgb(6, 65, 6);
}

h1 {
    color: goldenrod;
    font-size: 4.5rem;
}

#message-el {
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
}

button {
    color: #016f32;
    font-weight: bold;
    font-size: 1.2rem;

    width: 260px;
    padding: 10px;
    margin-bottom: 2px;
    margin-top: 2px;
    background: goldenrod;

    border: none;
    border-radius: 4px;
    cursor: pointer;
}